@charset "UTF-8";

// slide_up
#slide_up {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    transform: translateY(0);
    transition: all .5s ease-in;
    background-color: #000;

    &.slide {
        transform: translateY(-100%);
    }
}

// setting
@import "setting/reset";
@import "setting/fonts";
@import "setting/mixin";
@import "setting/vars";

// section
@import "section/loading";
@import "section/skip";
@import "section/header";
@import "section/intro";
@import "section/skill";
@import "section/site";
@import "section/footer";