#about {
    width: 100%;
    padding: 100px 0;

    @include desktop {
        .container {
            width: 100%;
            max-width: 100%;
        }
    }
    @include tablet {
        .inner {
            padding: 0 15px;
        }
    }
    @include mobile {
        .inner {
            padding: 0 15px;
        }
    }
    @include s_mobile {
        .inner {
            padding: 0 12px;
        }
    }

    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .about_title {
            width: 100%;
            display: block;
            padding: 150px 0 100px;
            opacity: 0;
            line-height: 1;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: -3px;
            font-family: var(--mainKor-font);
            font-size: 4rem;
            font-weight: 400;
            color: var(--white);

            @include tablet {
                line-height: 1.3;
            }
            @include mobile {
                line-height: 1.3;
                letter-spacing: -1px;
                font-size: 2.4rem;
            }
            @include s_mobile {
                font-size: 2.2rem;
            }

            .bold {
                font-size: 6rem;
                font-weight: 600;

                @include mobile {
                    font-size: 3.6rem;
                }
                @include s_mobile {
                    font-size: 3rem;
                }
            }
            .block {
                display: inline-block;

                @include tablet {
                    display: block;
                }
                @media all and (max-width: 660px) {
                    display: block;
                }
            }
        }

        .about_items {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            padding-top: 50px;

            @include mobile {
                display: flex;
                flex-direction: column;
                padding-top: 0;
            }

            .item_list {
                padding-left: 20px;

                @include mobile {
                    width: 100%;
                    padding-left: 0;
                }

                .profile_text {
                    font-size: 2rem;
                    color: var(--white);

                    @include tablet {
                        font-size: 1.6rem;
                    }
                    @include mobile {
                        text-align: center;
                        font-size: 1.6rem;
                    }
                    @media all and (max-width: 660px) {
                        display: block;
                        text-align: left;
                    }
                }
            }

            .profile_image_wrap {
                width: 40%;
                padding-left: 0;

                @include tablet {
                    width: auto;
                }
                @include mobile {
                    width: 100%;
                    margin-top: 30px;
                }

                .profile_image_box {
                    width: 400px;
                    height: 400px;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 50%;
                    overflow: hidden;
                    background-color: rgba(230, 230, 230, 0.8);

                    @include tablet {
                        width: 300px;
                        height: 300px;
                    }
                    @include mobile {
                        width: 300px;
                        height: 300px;
                    }

                    .profile_image {
                        width: 300px;
                        height: auto;
                        position: absolute;
                        left: 50%;
                        bottom: -20px;
                        transform: translateX(-50%);
                        object-fit: cover;

                        @include tablet {
                            width: 250px;
                        }
                        @include mobile {
                            width: 250px;
                        }
                    }
                }
            }
        }
    }
}
