#about {
    width: 100%;
    padding: 100px 0 50px;

    @include desktop {
        .container { 
            width: 100%; 
            max-width: 100%; 
        }
    };
    @include tablet {
        .inner {
            padding: 0 15px;
        }
    }
    @include mobile {
        .inner {
            padding: 0 15px;
        }
    }
    @include s_mobile {
        .inner {
            padding: 0 12px;
        }
    }

    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .about_top {
            width: 100%;

            .top_items {
                width: 100%;
                padding: 50px 0;
                display: block;
                opacity: 0;
                text-transform: uppercase;
                font-size: 10rem;
                font-weight: 800;
                letter-spacing: -3px;
                color: var(--white200);
                
                & span {
                    display: block;
                }
                &:first-child {
                    padding-top: 0;
                    text-align: right;
                    word-spacing: -15px;
                    color: var(--white300);
                }

                @include mobile {
                    font-size: 7rem;
                    line-height: 1.3;
                }
                @include s_mobile {
                    font-size: 6rem;
                }
            }
        }
        .about_center {
            width: 100%;
            padding: 0 0 50px;

            .text_items_box {
                width: 100%;
                
                .text_items{
                    opacity: 0;
                    font-size: 1.8rem;
                    font-weight: 400;
                    color: var(--white);

                    @include mobile {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}