#about {
    width: 100%;
    padding: 100px 0 0;

    @include desktop {
        .container { 
            width: 100%; 
            max-width: 100%; 
        }
    };
    @include tablet {
        .inner {
            padding: 0 15px;
        }
    }
    @include mobile {
        .inner {
            padding: 0 15px;
        }
    }
    @include s_mobile {
        .inner {
            padding: 0 12px;
        }
    }

    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all .5s ease-in-out;

        .about_top {
            width: 100%;
            transition: all .5s ease-in-out;

            .top_items {
                width: 100%;
                padding: 50px 0;
                display: block;
                opacity: 0;
                text-transform: uppercase;
                font-size: 8rem;
                font-weight: 800;
                color: var(--white);
                
                & span {
                    display: block;
                }
                &:first-child {
                    text-align: right;
                }
            }
        }
        .text_items {
            opacity: 0;
            font-size: 1.6rem;
            font-weight: 400;
            color: var(--white);
        }
    }
}