#contact {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    border-top: 1px solid #ccc;
    background-color: var(--subBg-color);

    @include desktop {
        .container {
            width: 100%;
            max-width: 100%;
        }
    }
    @include tablet {
        .inner {
            padding: 0 15px;
        }

        padding-top: 200px;
    }
    @include mobile {
        .inner {
            padding: 0 15px;
        }

        padding-top: 240px;
    }
    @include s_mobile {
        .inner {
            padding: 0 12px;
        }
    }

    .contact {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .contact_text li {
            line-height: 1.1;
            text-transform: uppercase;
            font-size: 6vw;
            font-family: var(--subEng-font);
            font-weight: 600;
            color: var(--black);

            @include s_mobile {
                font-size: 8vw;
            }
        }
        .contact_me {
            margin-top: 150px;

            .my_address,
            .my_instagram,
            .my_number {
                font-size: 2vw;
                color: var(--black100);

                @include mobile {
                    font-size: 1.8rem;
                }

                span {
                    padding: 2px 5px;
                    text-transform: uppercase;
                    border-radius: 8px;
                    font-size: 2vw;
                    font-weight: 600;
                    // background-color: rgba(0, 0, 0, 0.8);

                    @include mobile {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}
