#footer {
    width: 100%;
    background-color: rgba(255, 255, 255, .9);

    @include tablet {
        .inner {
            padding: 0 15px;
        }
    }
    @include mobile {
        .inner {
            padding: 0 15px;
        }
    }
    @include s_mobile {
        .inner {
            padding: 0 12px;
        }
    }

    .footer {
        width: 100%;
        padding: 15px 0;
        display: grid;
        grid-template-columns: 53% 47%;

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
        }

        .copyright {
            text-align: right;
            font-size: 1.8rem;

            @include mobile {
                text-align: left;
            }
        }
        .footer_link_box {
            text-align: right;
            
            .link_btn {
                font-size: 1.6rem;
                
                span {
                    padding-left: 5px;
                }
                svg {
                    vertical-align: middle;
                }
                &:last-child {
                    margin-left: 15px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}