#header {
    width: 100%;
    @include position-fixed;
    z-index: 10000;
    transition: all 1s ease-in-out;
    
    .header_inner {
        .header {
            width: 100%;
            @include flex-between;
            position: relative;
            padding: 15px 20px;

            @include tablet {
                padding: 15px;
            }
            @include mobile {
                padding: 15px;
            }
            @include s_mobile {
                padding: 15px 12px;
            }
    
            .header_logo {
                height: 100%;
                line-height: 1;
                padding: 14px;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.8rem;
                border: 2px solid var(--white);
                border-radius: 30px;
                background-color: rgba(0,0,0, .1);
                backdrop-filter: blur(15px);
    
                a {
                    color: var(--white);

                    span {
                        display: block;
                        font-size: 1.2rem;
                    }
                }
            }
            .header_nav_pc {
                height: 100%;
                padding: 17px;
                border: 2px solid var(--white);
                border-radius: 30px;
                background-color: rgba(0,0,0, .1);
                backdrop-filter: blur(15px);

                .pc_menu {
                    width: 100%;
                    height: 100%;
                    @include flex-center;
    
                    .menu_item {
                        text-transform: uppercase;
                        
                        a {
                            position: relative;
                            padding: 14px;
                            font-size: 1.6rem;
                            color: var(--white100);

                            &::before {
                                content: "";
                                width: calc(100% - 28px);
                                height: 1px;
                                position: absolute;
                                left: 14px;
                                bottom: 10px;
                                transform: scaleX(0);
                                transition: all 0.3s ease-in;
                                background-color: var(--white100);
                            }
            
                            &:hover::before {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
                @include tablet {
                    display: none;
    
                    & + .mobile_menu_btn {
                        display: block;
                    }
                }
                @include mobile {
                    display: none;
    
                    & + .mobile_menu_btn {
                        display: block;
                    }
                }
            }
            .mobile_menu_btn {
                width: 60px;
                height: 60px;
                display: none;
                border-radius: 15px;
                border: 2px solid var(--white);
                background-color: rgba(0,0,0, .1);
                backdrop-filter: blur(15px);
                cursor: pointer;

                &.active .btn_bar::after, &.active .btn_bar::before {
                    width: 20px;
                }

                .btn_bar {
                    width: 40px;
                    height: 2px;
                    display: block;
                    position: relative;
                    top: 50%;
                    left: 50%;               
                    transform: translate(-50%, -50%);
                    transition: all .3s ease-in;
                    background-color: var(--white);

                    &::after, &::before {
                        content: '';
                        width: 100%;
                        height: 2px;
                        display: block;
                        position: absolute;
                        transition: all .3s ease-in;
                        background-color: var(--white);
                    }
                    &::after {
                        top: 10px;
                        left: 0;
                    }
                    &::before {
                        bottom: 10px;
                        right: 0;
                    }             
                }
            }
            .header_nav_mobile {
                min-width: 30%;
                display: none;
                position: absolute;
                top: 70px;
                right: 0;
                padding: 20px;
                z-index: 9999;
                
                .mobile_menu {
                    .menu_item {
                        padding: 10px 30px;

                        a {
                            position: relative;
                            padding: 10px;
                            font-size: 1.6rem;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: var(--white100);

                            &::before {
                                content: "";
                                width: calc(100% - 20px);
                                height: 1px;
                                position: absolute;
                                left: 10px;
                                bottom: 8px;
                                transform: scaleX(0);
                                transition: all 0.3s ease-in;
                                background-color: var(--white100);
                            }
            
                            &:hover::before {
                                transform: scaleX(1);
                            }
                        }
                    }
                }

                &.active {
                    display: block;
                }
            }
        }
    }

    &.white {
        .header_inner {
            .header {
                .header_logo {
                    border: 2px solid var(--black300);
                    background-color: transparent;

                    a {
                        color: var(--black300);
                    }
                }
                .header_nav_pc {
                    border: 2px solid var(--black300);
                    background-color: transparent;

                    .pc_menu {
                        .menu_item {
                            a {
                                color: var(--black300);
    
                                &::before {
                                    background-color: var(--black300);
                                }
                            }
                        }
                    }
                }
                .mobile_menu_btn {
                    border: 2px solid var(--black300);
                    background-color: transparent;

                    .btn_bar {
                        background-color: var(--black300);
    
                        &::after, &::before {
                            background-color: var(--black300);
                        }            
                    }
                }
                .header_nav_mobile {                    
                    .mobile_menu {
                        .menu_item {
                            a {
                                color: var(--black);
    
                                &::before {
                                    background-color: var(--black);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}