#header {
    width: 100%;
    @include position-fixed;
    z-index: 10000;

    .header_progress_bar {
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -4px;
        background-color: #d5d0cd;
    }
    
    .header_inner {
        background: rgba(116, 99, 99, 0.1);
        backdrop-filter: blur(15px);

        .header {
            padding: 15px 20px;
            width: 100%;
            height: 70px;
            @include flex-between;
            position: relative;

            @include tablet {
                padding: 15px;
            }
            @include mobile {
                padding: 15px;
            }
            @include s_mobile {
                padding: 15px 12px;
            }
    
            .header_logo {
                height: 100%;
                line-height: 1;
                padding-top: 5px;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.8rem;
    
                a {
                    span {
                        display: block;
                        color: var(--black200);
                        font-size: 1.2rem;
                    }
                }
            }
            .header_nav_pc {
                .pc_menu {
                    width: 100%;
                    height: 100%;
                    @include flex-center;
    
                    .menu_item {
                        text-transform: uppercase;
                        
                        a {
                            position: relative;
                            padding: 14px;
                            font-size: 1.6rem;

                            &::before {
                                content: "";
                                width: calc(100% - 28px);
                                height: 1px;
                                position: absolute;
                                left: 14px;
                                bottom: 10px;
                                transform: scaleX(0);
                                transition: all 0.3s ease-in;
                                background-color: var(--black);
                            }
            
                            &:hover::before {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
                @include tablet {
                    display: none;
    
                    & + .mobile_menu_btn {
                        display: block;
                    }
                }
                @include mobile {
                    display: none;
    
                    & + .mobile_menu_btn {
                        display: block;
                    }
                }
            }
            .mobile_menu_btn {
                width: 40px;
                height: 40px;
                display: none;
                cursor: pointer;

                &.active .btn_bar::after, &.active .btn_bar::before {
                    width: 20px;
                }

                .btn_bar {
                    width: 40px;
                    height: 2px;
                    display: block;
                    position: relative;
                    margin-top: 19px;               
                    background-color: var(--black);

                    &::after, &::before {
                        content: '';
                        width: 100%;
                        height: 2px;
                        display: block;
                        position: absolute;
                        background-color: var(--black);
                        transition: all .3s ease-in;
                    }
                    &::after {
                        top: 7px;
                        left: 0;
                    }
                    &::before {
                        bottom: 7px;
                        right: 0;
                    }             
                }
            }
            .header_nav_mobile {
                min-width: 30%;
                display: none;
                position: absolute;
                top: 70px;
                right: 0;
                padding: 20px;
                z-index: 9999;
                background: rgba(229, 223, 219);

                .mobile_menu {
                    .menu_item {
                        padding: 10px 30px;

                        a {
                            position: relative;
                            padding: 10px;
                            font-size: 1.6rem;
                            text-transform: uppercase;

                            &::before {
                                content: "";
                                width: calc(100% - 20px);
                                height: 1px;
                                position: absolute;
                                left: 10px;
                                bottom: 8px;
                                transform: scaleX(0);
                                transition: all 0.3s ease-in;
                                background-color: var(--black);
                            }
            
                            &:hover::before {
                                transform: scaleX(1);
                            }
                        }
                    }
                }

                &.active {
                    display: block;
                }
            }
        }
    }
}