#loading {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);

    .loading_box {
        font-size: 4rem;
        font-weight: 600;
        color: var(--white);
    }
}