.site_offsetTop {
    width: 100%;
    display: block;
}
#site {
    width: 100%;
    height: 100vh;
    color: #fff;

    .site {
        width: 100%;
        height: 100%;
        
        .site_items {
            width: 100vw;
            height: 100%;
            display: flex;
            flex-direction: row;

            .site_item_box {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                &.intro {
                    justify-content: center;
                    text-transform: uppercase;
                    align-items: flex-start;

                    .site_intro_title {                        
                        line-height: 1;
                        letter-spacing: -7px;
                        font-size: 9rem;
                        font-weight: 600;

                        .scroll_arrow svg {
                            vertical-align: bottom;
                        }
                        &.site_intro_title3 {
                            padding-top: 50px;
                            letter-spacing: -4px;
                            font-size: 4rem;
                            font-weight: 400;
                        }
                        @for $i from 1 through 3 {
                            &.site_intro_title#{$i} {
                                color: var(--white#{$i}00);
                            }
                        }
                    }
                }
                // @for $i from 1 through 6 {
                //     &.item#{$i} {

                //     }
                // }
            }
        }
    }
}