#skill {
    width: 100%;
    height: 100vh;
    background-color: var(--subBg-color);

    @include desktop {
        .container {
            width: 100%;
            max-width: 100%;
        }
    }
    @include tablet {
        .inner {
            padding: 0 15px;
        }
    }
    @include mobile {
        .inner {
            padding: 0 15px;
        }
    }
    @include s_mobile {
        .inner {
            padding: 0 12px;
        }
    }

    .skill {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .skill_items {
            width: 100vw;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0 100px;

            .skill_item_box {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-shrink: 0;

                &.title_box {
                    justify-content: center;

                    .skill_title {
                        padding-right: 5%;
                        font-size: 10vw;
                        font-weight: 600;
                        font-family: var(--subEng-font);
                        letter-spacing: -1px;
                        text-transform: uppercase;
                        color: var(--black);

                        .scroll_arrow {
                            padding-left: 50px;

                            svg {
                                margin-bottom: 20px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
                @for $i from 1 through 11 {
                    &.item#{$i} {
                        width: 500px;
                        height: 70%;
                        padding: 30px;
                        border: 1px solid #000;
                        border-radius: 30px;
                        background-color: var(--white);

                        @include tablet {
                            width: 400px;
                            height: 60%;
                        }
                        @include mobile {
                            width: 60%;
                            height: 60%;
                            padding: 20px;
                        }
                        @include s_mobile {
                            width: 70%;
                            height: 50%;
                            padding: 15px;
                        }

                        .skill_name {
                            padding: 40px 0;
                            font-size: 5rem;
                            text-transform: uppercase;
                            font-weight: 600;
                            font-family: var(--mainEng-font);

                            @include tablet {
                                font-size: 4rem;
                            }
                            @include mobile {
                                padding: 50px 0;
                                font-size: 3rem;
                            }
                            @media all and (max-width: 660px) {
                                padding: 40px 0;
                            }
                            @include s_mobile {
                                padding: 0 0 40px 0;
                                font-size: 2.6rem;
                            }
                        }
                        .skill_desc {
                            line-height: 1.6;
                            font-size: 2rem;
                            font-weight: 400;
                            font-family: var(--mainKor-font);

                            @include tablet {
                                font-size: 1.8rem;
                            }
                            @include mobile {
                                font-size: 1.8rem;
                            }
                            @media all and (max-width: 660px) {
                                font-size: 1.6rem;
                            }
                            @include s_mobile {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
    &.white {
        .skill {
            .skill_items {
                .skill_item_box {
                    .skill_title {
                        color: var(--black);
                    }

                    .skill_name {
                        color: var(--black);
                    }
                    .skill_desc {
                        color: var(--black);
                    }
                }
            }
        }
    }
}
