@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://websfont.github.io/nanumSquareNeo/nanumSquareNeo.css");
@import url("https://websfont.github.io/gmarket/gmarket.css");
:root {
  --mainEng-font: "Montserrat";
  --subEng-font: "Anton";
  --mainKor-font: "nanumSquareNeo";
  --mainNum-font: "gmarket";
  --mainBg-color: #000;
  --white: #fff;
  --white100: #d0cac3;
  --white200: #afa395;
  --white300: #81887c;
  --white400: #afa7a2;
  --white500: #a6afa2;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #898989;
  font-family: var(--mainEng-font), var(--mainKor-font);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@media mobile {
  :root {
    line-height: 1.4;
  }
}

body {
  background-color: var(--mainBg-color);
}

#skip .skip_item {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  font-size: 1.8rem;
  padding: 10px 30px;
  color: var(--black);
  background: var(--white);
}
#skip .skip_item:focus, #skip .skip_item:active {
  top: 10px;
}

.mont {
  font-family: "Montserrat";
}

.nanum {
  font-family: "nanumSquareNeo";
}

.gmarket {
  font-family: "gmarket";
}

.anton {
  font-family: "Anton";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 스크롤 초기화 */
body {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1640px;
  height: 100%;
  margin: 0 auto;
}

.inner {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body, input, textarea, select, button, table {
  font-family: var(--mainEng-font), var(--mainKor-font), "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
}

a, a:hover, a:focus {
  color: #222;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1.6rem;
}

ul, li, ol {
  list-style: none;
}

em, address {
  font-style: normal;
}

button {
  border: 0;
}

img, fieldset {
  border: 0 none;
}

img, video {
  width: 100%;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#loading {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}
#loading .loading_box {
  width: 80px;
  height: 80px;
  position: relative;
  animation: loading 1.5s ease-in-out 100;
}
@keyframes loading {
  0% {
    transform: rotate(0) scale(0);
  }
  50% {
    transform: rotate(180deg) scale(0.7);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}
#loading .loading_box .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
}
#loading .loading_box .circle.circle1 {
  top: 0;
  left: 35px;
}
#loading .loading_box .circle.circle2 {
  top: 35px;
  left: 0;
}
#loading .loading_box .circle.circle3 {
  bottom: 0;
  left: 35px;
}
#loading .loading_box .circle.circle4 {
  top: 35px;
  right: 0;
}

#header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  transition: all 1s ease-in-out;
}
#header .header_inner .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 15px 20px;
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #header .header_inner .header {
    padding: 15px;
  }
}
@media all and (max-width: 767px) {
  #header .header_inner .header {
    padding: 15px;
  }
}
@media all and (max-width: 480px) {
  #header .header_inner .header {
    padding: 15px 12px;
  }
}
#header .header_inner .header .header_logo {
  height: 100%;
  line-height: 1;
  padding: 14px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  border: 2px solid var(--white);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
#header .header_inner .header .header_logo a {
  color: var(--white);
}
#header .header_inner .header .header_logo a span {
  display: block;
  font-size: 1.2rem;
}
#header .header_inner .header .header_nav_pc {
  height: 100%;
  padding: 17px;
  border: 2px solid var(--white);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
#header .header_inner .header .header_nav_pc .pc_menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .header_inner .header .header_nav_pc .pc_menu .menu_item {
  text-transform: uppercase;
}
#header .header_inner .header .header_nav_pc .pc_menu .menu_item a {
  position: relative;
  padding: 14px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
}
#header .header_inner .header .header_nav_pc .pc_menu .menu_item a::before {
  content: "";
  width: 0%;
  height: 15px;
  position: absolute;
  left: 14px;
  bottom: 10px;
  transition: all 0.2s ease-in;
  border-radius: 10px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
}
#header .header_inner .header .header_nav_pc .pc_menu .menu_item a:hover::before {
  width: calc(100% - 24px);
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #header .header_inner .header .header_nav_pc {
    display: none;
  }
  #header .header_inner .header .header_nav_pc + .mobile_menu_btn {
    display: block;
  }
}
@media all and (max-width: 767px) {
  #header .header_inner .header .header_nav_pc {
    display: none;
  }
  #header .header_inner .header .header_nav_pc + .mobile_menu_btn {
    display: block;
  }
}
#header .header_inner .header .mobile_menu_btn {
  width: 60px;
  height: 60px;
  display: none;
  border-radius: 15px;
  border: 2px solid var(--white);
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  cursor: pointer;
}
#header .header_inner .header .mobile_menu_btn.active .btn_bar::after, #header .header_inner .header .mobile_menu_btn.active .btn_bar::before {
  width: 20px;
}
#header .header_inner .header .mobile_menu_btn .btn_bar {
  width: 40px;
  height: 2px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in;
  background-color: var(--white);
}
#header .header_inner .header .mobile_menu_btn .btn_bar::after, #header .header_inner .header .mobile_menu_btn .btn_bar::before {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  transition: all 0.3s ease-in;
  background-color: var(--white);
}
#header .header_inner .header .mobile_menu_btn .btn_bar::after {
  top: 10px;
  left: 0;
}
#header .header_inner .header .mobile_menu_btn .btn_bar::before {
  bottom: 10px;
  right: 0;
}
#header .header_inner .header .header_nav_mobile {
  min-width: 30%;
  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  padding: 20px;
  z-index: 9999;
}
#header .header_inner .header .header_nav_mobile .mobile_menu .menu_item {
  padding: 10px 30px;
}
#header .header_inner .header .header_nav_mobile .mobile_menu .menu_item a {
  position: relative;
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
}
#header .header_inner .header .header_nav_mobile .mobile_menu .menu_item a::before {
  content: "";
  width: 0%;
  height: 15px;
  position: absolute;
  left: 10px;
  bottom: 6px;
  transition: all 0.2s ease-in;
  border-radius: 10px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
}
#header .header_inner .header .header_nav_mobile .mobile_menu .menu_item a:hover::before {
  width: calc(100% - 8px);
}
#header .header_inner .header .header_nav_mobile.active {
  display: block;
}
#header.white .header_inner .header .header_logo {
  border: 2px solid var(--black300);
  background-color: transparent;
}
#header.white .header_inner .header .header_logo a {
  color: var(--black300);
}
#header.white .header_inner .header .header_nav_pc {
  border: 2px solid var(--black300);
  background-color: transparent;
}
#header.white .header_inner .header .header_nav_pc .pc_menu .menu_item a {
  color: var(--black300);
}
#header.white .header_inner .header .header_nav_pc .pc_menu .menu_item a::before {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 100%);
}
#header.white .header_inner .header .mobile_menu_btn {
  border: 2px solid var(--black300);
  background-color: transparent;
}
#header.white .header_inner .header .mobile_menu_btn .btn_bar {
  background-color: var(--black300);
}
#header.white .header_inner .header .mobile_menu_btn .btn_bar::after, #header.white .header_inner .header .mobile_menu_btn .btn_bar::before {
  background-color: var(--black300);
}
#header.white .header_inner .header .header_nav_mobile .mobile_menu .menu_item a {
  color: var(--black);
}
#header.white .header_inner .header .header_nav_mobile .mobile_menu .menu_item a::before {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 100%);
}

#intro {
  width: 100%;
  height: 100vh;
}
@media all and (max-width: 1280px) {
  #intro .container {
    width: 100%;
    max-width: 100%;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #intro {
    height: 70vh;
  }
  #intro .inner {
    padding: 0 15px;
  }
}
@media all and (max-width: 767px) {
  #intro {
    height: 60vh;
  }
  #intro .inner {
    padding: 0 15px;
  }
}
@media all and (max-width: 480px) {
  #intro {
    height: 50vh;
  }
  #intro .inner {
    padding: 0 12px;
  }
}
#intro .intro {
  width: 100%;
  height: 100%;
  padding: 150px 0 0;
  position: relative;
  overflow: hidden;
  font-family: var(--subEng-font);
  text-transform: uppercase;
}
#intro .intro .intro_text {
  line-height: 1;
  position: absolute;
  top: 150px;
  left: 0;
  white-space: nowrap;
  font-size: 11rem;
  -webkit-text-stroke: 1px var(--white);
  color: transparent;
}
@media all and (max-width: 1280px) {
  #intro .intro .intro_text {
    font-size: 9vw;
  }
}
@media all and (max-width: 767px) {
  #intro .intro .intro_text {
    font-size: 8vw;
  }
}
#intro .intro .mask_container {
  height: 110px;
  position: relative;
  overflow: hidden;
}
@media all and (max-width: 1280px) {
  #intro .intro .mask_container {
    height: 9vw;
  }
}
@media all and (max-width: 767px) {
  #intro .intro .mask_container {
    height: 8vw;
  }
}
#intro .intro .mask_container .intro_text_mask {
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  font-size: 11rem;
  color: var(--white);
}
@media all and (max-width: 1280px) {
  #intro .intro .mask_container .intro_text_mask {
    font-size: 9vw;
  }
}
@media all and (max-width: 767px) {
  #intro .intro .mask_container .intro_text_mask {
    font-size: 8vw;
  }
}
#intro .intro .mask_container .intro_text_mask .text_mask_items.item2 {
  -webkit-text-stroke: 1px var(--white100);
  color: var(--white100);
}
#intro .intro .mask_container .intro_text_mask .text_mask_items.item3 {
  -webkit-text-stroke: 1px var(--white200);
  color: var(--white200);
}
#intro .intro .mask_container .intro_text_mask .text_mask_items.item4 {
  -webkit-text-stroke: 1px var(--white300);
  color: var(--white300);
}
#intro .intro .mask_container .intro_text_mask .text_mask_items.item5 {
  -webkit-text-stroke: 1px var(--white400);
  color: var(--white400);
}
#intro .intro .mask_container .intro_text_mask .text_mask_items.item6 {
  -webkit-text-stroke: 1px var(--white500);
  color: var(--white500);
}
#intro .intro .mask_container .intro_text_mask .text_mask_items.item7 {
  -webkit-text-stroke: 1px var(--white600);
  color: var(--white600);
}

#about {
  width: 100%;
  padding: 100px 0 50px;
}
@media all and (max-width: 1280px) {
  #about .container {
    width: 100%;
    max-width: 100%;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #about .inner {
    padding: 0 15px;
  }
}
@media all and (max-width: 767px) {
  #about .inner {
    padding: 0 15px;
  }
}
@media all and (max-width: 480px) {
  #about .inner {
    padding: 0 12px;
  }
}
#about .about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#about .about .about_top {
  width: 100%;
}
#about .about .about_top .top_items {
  width: 100%;
  padding: 50px 0;
  display: block;
  opacity: 0;
  text-transform: uppercase;
  font-size: 10rem;
  font-weight: 800;
  letter-spacing: -3px;
  color: var(--white200);
}
#about .about .about_top .top_items span {
  display: block;
}
#about .about .about_top .top_items:first-child {
  padding-top: 0;
  text-align: right;
  word-spacing: -15px;
  color: var(--white300);
}
@media all and (max-width: 767px) {
  #about .about .about_top .top_items {
    font-size: 7rem;
    line-height: 1.3;
  }
}
@media all and (max-width: 480px) {
  #about .about .about_top .top_items {
    font-size: 6rem;
  }
}
#about .about .about_center {
  width: 100%;
  padding: 0 0 50px;
}
#about .about .about_center .text_items_box {
  width: 100%;
}
#about .about .about_center .text_items_box .text_items {
  opacity: 0;
  font-family: var(--mainKor-font);
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--white);
}
@media all and (max-width: 767px) {
  #about .about .about_center .text_items_box .text_items {
    font-size: 1.6rem;
  }
}

#skill {
  width: 100%;
  padding: 100px 0;
  transition: all 0.5s ease-in-out;
}
@media all and (max-width: 1280px) {
  #skill .container {
    width: 100%;
    max-width: 100%;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #skill .inner {
    padding: 0 15px;
  }
}
@media all and (max-width: 767px) {
  #skill .inner {
    padding: 0 15px;
  }
}
@media all and (max-width: 480px) {
  #skill .inner {
    padding: 0 12px;
  }
}
#skill .skill {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (max-width: 767px) {
  #skill .skill {
    flex-direction: column;
    align-items: flex-start;
  }
}
#skill .skill .skill_title {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 320px;
  line-height: 1;
  border-bottom: 5px solid var(--white300);
  font-size: 10rem;
  font-weight: 600;
  letter-spacing: -8px;
  text-transform: uppercase;
  color: var(--white300);
}
#skill .skill .skill_title .scroll_arrow svg {
  vertical-align: bottom;
}
@media all and (max-width: 1280px) {
  #skill .skill .skill_title {
    border-bottom: 4px solid var(--white300);
    font-size: 9rem;
    letter-spacing: -2px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #skill .skill .skill_title {
    font-size: 8rem;
  }
}
@media all and (max-width: 767px) {
  #skill .skill .skill_title {
    width: 100%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-bottom: 0 none;
    font-size: 10rem;
    letter-spacing: -1px;
    text-align: center;
    background-color: transparent;
  }
  #skill .skill .skill_title .scroll_arrow {
    display: none;
  }
}
#skill .skill .skill_items {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 300px 0;
}
@media all and (max-width: 767px) {
  #skill .skill .skill_items {
    width: 100%;
  }
}
#skill .skill .skill_items .skill_item_box {
  width: 80%;
  min-height: 200px;
  margin-bottom: 200px;
  padding: 20px;
  border-radius: 10px;
}
@media all and (max-width: 1280px) {
  #skill .skill .skill_items .skill_item_box {
    width: 90%;
    margin-bottom: 190px;
    padding: 15px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #skill .skill .skill_items .skill_item_box {
    width: 100%;
    margin-bottom: 150px;
  }
}
@media all and (max-width: 767px) {
  #skill .skill .skill_items .skill_item_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    margin: 50px 0 15%;
  }
}
@media all and (max-width: 480px) {
  #skill .skill .skill_items .skill_item_box {
    margin: 50px 0 20%;
  }
}
#skill .skill .skill_items .skill_item_box .skill_name {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--white200);
}
@media all and (max-width: 1280px) {
  #skill .skill .skill_items .skill_item_box .skill_name {
    font-size: 2.8rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #skill .skill .skill_items .skill_item_box .skill_name {
    font-size: 2.4rem;
  }
}
@media all and (max-width: 767px) {
  #skill .skill .skill_items .skill_item_box .skill_name {
    font-size: 2.2rem;
    font-weight: 600;
  }
}
#skill .skill .skill_items .skill_item_box .skill_name .skill_num {
  padding-right: 10px;
}
@media all and (max-width: 767px) {
  #skill .skill .skill_items .skill_item_box .skill_name .skill_num {
    padding-right: 5px;
  }
}
#skill .skill .skill_items .skill_item_box .skill_desc {
  padding-top: 30px;
  font-family: var(--mainKor-font);
  font-size: 2rem;
  font-weight: 600;
  color: var(--white200);
  text-align: justify;
}
@media all and (max-width: 1280px) {
  #skill .skill .skill_items .skill_item_box .skill_desc {
    padding-top: 25px;
    font-size: 1.8rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #skill .skill .skill_items .skill_item_box .skill_desc {
    padding-top: 20px;
  }
}
@media all and (max-width: 767px) {
  #skill .skill .skill_items .skill_item_box .skill_desc {
    padding-top: 18px;
  }
}
@media all and (max-width: 480px) {
  #skill .skill .skill_items .skill_item_box .skill_desc {
    padding-top: 18px;
    font-size: 1.6rem;
  }
}
#skill.white {
  background-color: rgba(255, 255, 255, 0.9019607843);
}
#skill.white .skill .skill_title {
  border-bottom: 5px solid var(--black);
  color: var(--black);
}
@media all and (max-width: 767px) {
  #skill.white .skill .skill_title {
    border-bottom: 0 none;
    color: var(--white300);
  }
}
#skill.white .skill .skill_items {
  position: relative;
  z-index: 9;
}
#skill.white .skill .skill_items .skill_item_box .skill_name {
  color: var(--black);
}
#skill.white .skill .skill_items .skill_item_box .skill_desc {
  color: var(--black);
}

.site_offsetTop {
  width: 100%;
  display: block;
}

#site {
  width: 100%;
  height: 100vh;
}
@media all and (max-width: 1280px) {
  #site .container {
    width: 100%;
    max-width: 100%;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #site .inner {
    padding: 0 15px;
  }
}
@media all and (max-width: 767px) {
  #site .inner {
    padding: 0 15px;
  }
}
@media all and (max-width: 480px) {
  #site .inner {
    padding: 0 12px;
  }
}
#site .site {
  width: 100%;
  height: 100%;
}
#site .site .site_items {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#site .site .site_items .site_item_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
#site .site .site_items .site_item_box.intro {
  justify-content: center;
  text-transform: uppercase;
  align-items: flex-start;
}
#site .site .site_items .site_item_box.intro .site_intro_title {
  line-height: 1;
  letter-spacing: -7px;
  font-size: 9rem;
  font-weight: 600;
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #site .site .site_items .site_item_box.intro .site_intro_title {
    font-size: 8rem;
  }
}
@media all and (max-width: 767px) {
  #site .site .site_items .site_item_box.intro .site_intro_title {
    font-size: 7rem;
  }
}
@media all and (max-width: 480px) {
  #site .site .site_items .site_item_box.intro .site_intro_title {
    font-size: 6rem;
  }
}
#site .site .site_items .site_item_box.intro .site_intro_title .scroll_arrow svg {
  vertical-align: bottom;
}
#site .site .site_items .site_item_box.intro .site_intro_title.site_intro_title3 {
  padding-top: 50px;
  letter-spacing: -4px;
  font-size: 4rem;
  font-weight: 400;
}
@media all and (max-width: 767px) {
  #site .site .site_items .site_item_box.intro .site_intro_title.site_intro_title3 {
    font-size: 3.8rem;
  }
}
@media all and (max-width: 480px) {
  #site .site .site_items .site_item_box.intro .site_intro_title.site_intro_title3 {
    font-size: 3.6rem;
  }
}
#site .site .site_items .site_item_box.intro .site_intro_title.site_intro_title1 {
  color: var(--white100);
}
#site .site .site_items .site_item_box.intro .site_intro_title.site_intro_title2 {
  color: var(--white200);
}
#site .site .site_items .site_item_box.intro .site_intro_title.site_intro_title3 {
  color: var(--white300);
}
#site .site .site_items .site_item_box.item1 {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50px;
  font-family: var(--mainKor-font);
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--black);
}
#site .site .site_items .site_item_box.item1 .site_thumb_img {
  width: 100%;
  height: 100%;
  padding: 50px 20px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#site .site .site_items .site_item_box.item1 .site_thumb_img img {
  height: 100%;
}
#site .site .site_items .site_item_box.item1 .site_text_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 100px 70px;
  background-color: rgba(0, 0, 0, 0.6);
}
#site .site .site_items .site_item_box.item1 .site_text_box .site_sub_title {
  font-size: 10rem;
  font-weight: 600;
  font-family: var(--mainEng-font);
  letter-spacing: -8px;
  color: var(--white);
}
#site .site .site_items .site_item_box.item1 .site_text_box .site_join, #site .site .site_items .site_item_box.item1 .site_text_box .site_skill {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 7px;
  font-size: 1.6rem;
  letter-spacing: 0;
  background-color: var(--white);
  color: var(--black);
}
#site .site .site_items .site_item_box.item1 .site_text_box .site_desc {
  width: 50%;
  padding: 40px 0;
  font-size: 2rem;
  font-weight: 600;
}
#site .site .site_items .site_item_box.item1 .site_text_box .site_link_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}
#site .site .site_items .site_item_box.item1 .site_text_box .site_link_box .link_btns {
  width: 48%;
  padding: 15px 10px;
  border: 2px solid var(--white);
  transition: all 0.3s ease-in;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: var(--white);
}
#site .site .site_items .site_item_box.item1 .site_text_box .site_link_box .link_btns:hover {
  color: var(--black);
  background-color: var(--white);
}
#site .site .site_items .site_item_box.item2 {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50px;
  font-family: var(--mainKor-font);
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--black);
}
#site .site .site_items .site_item_box.item2 .site_thumb_img {
  width: 100%;
  height: 100%;
  padding: 50px 20px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#site .site .site_items .site_item_box.item2 .site_thumb_img img {
  height: 100%;
}
#site .site .site_items .site_item_box.item2 .site_text_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 100px 70px;
  background-color: rgba(0, 0, 0, 0.6);
}
#site .site .site_items .site_item_box.item2 .site_text_box .site_sub_title {
  font-size: 10rem;
  font-weight: 600;
  font-family: var(--mainEng-font);
  letter-spacing: -8px;
  color: var(--white);
}
#site .site .site_items .site_item_box.item2 .site_text_box .site_join, #site .site .site_items .site_item_box.item2 .site_text_box .site_skill {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 7px;
  font-size: 1.6rem;
  letter-spacing: 0;
  background-color: var(--white);
  color: var(--black);
}
#site .site .site_items .site_item_box.item2 .site_text_box .site_desc {
  width: 50%;
  padding: 40px 0;
  font-size: 2rem;
  font-weight: 600;
}
#site .site .site_items .site_item_box.item2 .site_text_box .site_link_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}
#site .site .site_items .site_item_box.item2 .site_text_box .site_link_box .link_btns {
  width: 48%;
  padding: 15px 10px;
  border: 2px solid var(--white);
  transition: all 0.3s ease-in;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: var(--white);
}
#site .site .site_items .site_item_box.item2 .site_text_box .site_link_box .link_btns:hover {
  color: var(--black);
  background-color: var(--white);
}
#site .site .site_items .site_item_box.item3 {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50px;
  font-family: var(--mainKor-font);
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--black);
}
#site .site .site_items .site_item_box.item3 .site_thumb_img {
  width: 100%;
  height: 100%;
  padding: 50px 20px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#site .site .site_items .site_item_box.item3 .site_thumb_img img {
  height: 100%;
}
#site .site .site_items .site_item_box.item3 .site_text_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 100px 70px;
  background-color: rgba(0, 0, 0, 0.6);
}
#site .site .site_items .site_item_box.item3 .site_text_box .site_sub_title {
  font-size: 10rem;
  font-weight: 600;
  font-family: var(--mainEng-font);
  letter-spacing: -8px;
  color: var(--white);
}
#site .site .site_items .site_item_box.item3 .site_text_box .site_join, #site .site .site_items .site_item_box.item3 .site_text_box .site_skill {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 7px;
  font-size: 1.6rem;
  letter-spacing: 0;
  background-color: var(--white);
  color: var(--black);
}
#site .site .site_items .site_item_box.item3 .site_text_box .site_desc {
  width: 50%;
  padding: 40px 0;
  font-size: 2rem;
  font-weight: 600;
}
#site .site .site_items .site_item_box.item3 .site_text_box .site_link_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}
#site .site .site_items .site_item_box.item3 .site_text_box .site_link_box .link_btns {
  width: 48%;
  padding: 15px 10px;
  border: 2px solid var(--white);
  transition: all 0.3s ease-in;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: var(--white);
}
#site .site .site_items .site_item_box.item3 .site_text_box .site_link_box .link_btns:hover {
  color: var(--black);
  background-color: var(--white);
}
#site .site .site_items .site_item_box.item4 {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50px;
  font-family: var(--mainKor-font);
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--black);
}
#site .site .site_items .site_item_box.item4 .site_thumb_img {
  width: 100%;
  height: 100%;
  padding: 50px 20px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#site .site .site_items .site_item_box.item4 .site_thumb_img img {
  height: 100%;
}
#site .site .site_items .site_item_box.item4 .site_text_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 100px 70px;
  background-color: rgba(0, 0, 0, 0.6);
}
#site .site .site_items .site_item_box.item4 .site_text_box .site_sub_title {
  font-size: 10rem;
  font-weight: 600;
  font-family: var(--mainEng-font);
  letter-spacing: -8px;
  color: var(--white);
}
#site .site .site_items .site_item_box.item4 .site_text_box .site_join, #site .site .site_items .site_item_box.item4 .site_text_box .site_skill {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 7px;
  font-size: 1.6rem;
  letter-spacing: 0;
  background-color: var(--white);
  color: var(--black);
}
#site .site .site_items .site_item_box.item4 .site_text_box .site_desc {
  width: 50%;
  padding: 40px 0;
  font-size: 2rem;
  font-weight: 600;
}
#site .site .site_items .site_item_box.item4 .site_text_box .site_link_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}
#site .site .site_items .site_item_box.item4 .site_text_box .site_link_box .link_btns {
  width: 48%;
  padding: 15px 10px;
  border: 2px solid var(--white);
  transition: all 0.3s ease-in;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: var(--white);
}
#site .site .site_items .site_item_box.item4 .site_text_box .site_link_box .link_btns:hover {
  color: var(--black);
  background-color: var(--white);
}
#site .site .site_items .site_item_box.item5 {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50px;
  font-family: var(--mainKor-font);
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--black);
}
#site .site .site_items .site_item_box.item5 .site_thumb_img {
  width: 100%;
  height: 100%;
  padding: 50px 20px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#site .site .site_items .site_item_box.item5 .site_thumb_img img {
  height: 100%;
}
#site .site .site_items .site_item_box.item5 .site_text_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 100px 70px;
  background-color: rgba(0, 0, 0, 0.6);
}
#site .site .site_items .site_item_box.item5 .site_text_box .site_sub_title {
  font-size: 10rem;
  font-weight: 600;
  font-family: var(--mainEng-font);
  letter-spacing: -8px;
  color: var(--white);
}
#site .site .site_items .site_item_box.item5 .site_text_box .site_join, #site .site .site_items .site_item_box.item5 .site_text_box .site_skill {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 7px;
  font-size: 1.6rem;
  letter-spacing: 0;
  background-color: var(--white);
  color: var(--black);
}
#site .site .site_items .site_item_box.item5 .site_text_box .site_desc {
  width: 50%;
  padding: 40px 0;
  font-size: 2rem;
  font-weight: 600;
}
#site .site .site_items .site_item_box.item5 .site_text_box .site_link_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}
#site .site .site_items .site_item_box.item5 .site_text_box .site_link_box .link_btns {
  width: 48%;
  padding: 15px 10px;
  border: 2px solid var(--white);
  transition: all 0.3s ease-in;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: var(--white);
}
#site .site .site_items .site_item_box.item5 .site_text_box .site_link_box .link_btns:hover {
  color: var(--black);
  background-color: var(--white);
}
#site .site .site_items .site_item_box.item6 {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50px;
  font-family: var(--mainKor-font);
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--black);
}
#site .site .site_items .site_item_box.item6 .site_thumb_img {
  width: 100%;
  height: 100%;
  padding: 50px 20px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#site .site .site_items .site_item_box.item6 .site_thumb_img img {
  height: 100%;
}
#site .site .site_items .site_item_box.item6 .site_text_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 100px 70px;
  background-color: rgba(0, 0, 0, 0.6);
}
#site .site .site_items .site_item_box.item6 .site_text_box .site_sub_title {
  font-size: 10rem;
  font-weight: 600;
  font-family: var(--mainEng-font);
  letter-spacing: -8px;
  color: var(--white);
}
#site .site .site_items .site_item_box.item6 .site_text_box .site_join, #site .site .site_items .site_item_box.item6 .site_text_box .site_skill {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 7px;
  font-size: 1.6rem;
  letter-spacing: 0;
  background-color: var(--white);
  color: var(--black);
}
#site .site .site_items .site_item_box.item6 .site_text_box .site_desc {
  width: 50%;
  padding: 40px 0;
  font-size: 2rem;
  font-weight: 600;
}
#site .site .site_items .site_item_box.item6 .site_text_box .site_link_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}
#site .site .site_items .site_item_box.item6 .site_text_box .site_link_box .link_btns {
  width: 48%;
  padding: 15px 10px;
  border: 2px solid var(--white);
  transition: all 0.3s ease-in;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: var(--white);
}
#site .site .site_items .site_item_box.item6 .site_text_box .site_link_box .link_btns:hover {
  color: var(--black);
  background-color: var(--white);
}

#contact {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  padding: 100px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.9019607843);
}
#contact .contact .contact_title {
  color: #fff;
}
#contact .contact .contact_email {
  color: #fff;
}

#footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #footer .inner {
    padding: 0 15px;
  }
}
@media all and (max-width: 767px) {
  #footer .inner {
    padding: 0 15px;
  }
}
@media all and (max-width: 480px) {
  #footer .inner {
    padding: 0 12px;
  }
}
#footer .footer {
  width: 100%;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 53% 47%;
}
@media all and (max-width: 767px) {
  #footer .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
#footer .footer .copyright {
  text-align: right;
  font-size: 1.8rem;
}
@media all and (max-width: 767px) {
  #footer .footer .copyright {
    text-align: left;
  }
}
#footer .footer .footer_link_box {
  text-align: right;
}
#footer .footer .footer_link_box .link_btn {
  font-size: 1.6rem;
}
#footer .footer .footer_link_box .link_btn span {
  padding-left: 5px;
}
#footer .footer .footer_link_box .link_btn svg {
  vertical-align: middle;
}
#footer .footer .footer_link_box .link_btn:last-child {
  margin-left: 15px;
}
#footer .footer .footer_link_box .link_btn:hover {
  text-decoration: underline;
}

.scroll_percent {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 999999;
  border-radius: 50%;
  background: rgb(230, 230, 230);
}
.scroll_percent span {
  width: 100%;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
}/*# sourceMappingURL=style.css.map */