// 가운데 정렬
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// 양쪽 정렬
@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// 중앙 정렬
@mixin position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// 상단 고정
@mixin position-fixed {
    position: fixed;
    left: 0;
    top: 0;
}

// 미디어쿼리
$desktop: 1440px;
$tablet: 768px;
$mobile: 767px;
$s_mobile: 480px;

@mixin desktop {
    @media all and (max-width: $desktop) {
        @content;
    }
}
@mixin tablet {
    @media all and (min-width: $tablet) and (max-width: 1023px) {
        @content;
    }
}
@mixin mobile {
    @media all and (max-width: $mobile) {
        @content;
    }
}
@mixin s_mobile {
    @media all and (max-width: $s_mobile) {
        @content;
    }
}





