// 가운데 정렬
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// 양쪽 정렬
@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// 중앙 정렬
@mixin position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// 상단 고정
@mixin position-fixed {
    position: fixed;
    left: 0;
    top: 0;
}

// 미디어쿼리
$desktop: 1440px;
$laptop: 1020px;
$tablet: 768px;
$L_mobile: 480px;
$S_mobile: 320px;

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}
@mixin laptop {
    @media (max-width: $laptop) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}
@mixin L_mobile {
    @media (max-width: $L_mobile) {
        @content;
    }
}
@mixin S_mobile {
    @media (max-width: $S_mobile) {
        @content;
    }
}




